
@import url(main.css);

body { font-family:"Times New Roman", Times, serif; color:#333; font-size:11px; line-height:18px; } /* JUST FONT-FAMILY & COLOURS */

a:link,
a:visited { color:#666; }
a:hover,
a:focus { color:#333; }