@tailwind base;
@tailwind components;
@tailwind utilities;

/* Honeypot field */
input[name="website"] {
  @apply !hidden !absolute !left-0 !top-0 !w-0 !h-0 overflow-hidden !opacity-0 pointer-events-none
}